#firstDiv{
    width: 60%;
    height: 200px;
    background-color: aqua;
    text-align: center;
    color: forestgreen;
    font-size: 3rem;
    min-width: 600px;
    border: 5px solid black;
    margin: 30px;
    text-shadow: 0px 0px 10px yellow, 0px -5px 10px red;
    border-radius: 50px;
    box-shadow: 5px 5px 5px gainsboro;
}
#bjpLogo{
    width: 50px;
    position: fixed;
    border-radius: 50px;
    right: 10px;
    top: 5px;
}

@media only screen and (min-width:1px) and (max-width:576px){
    body{
        background-color: blue;
    }
    h2{
        color: aqua;
    }
    img{
        border: 10px solid brown;
    }
#firstDiv{
    background-color: orange;
}

}
@media only screen and (min-width:576px) and (max-width:768px){
    body{
        background-color: lightcoral;
    }
    h2{
        color: lawngreen;
    }
    #firstDiv{
        background-color: grey;
    }
img{
    border: 8px dotted green;
}
}
@media only screen and (min-width:768px) and (max-width:992px){
    body{
        background-color: darkred;
    }
    h2
    {color: sienna;}
    img{
        border: 5px double slateblue;
    }
    #firstDiv{
        background-color: aqua;
    }

}
@media only screen and (min-width:992px) and (max-width:1200px){
    body{
        background-color: hotpink;

    }
    h2{
        color: slateblue;
    }
img{
    border: 10px inset black;
}
#firstDiv{
    background-color: lawngreen;
}
}
@media only screen and (min-width:1200px) and (max-width:1400px){
    body{
        background-color: indigo;
    }
    h2{
        color: red;
    }
    img{
        border: 10px outset gold;
    }
    #firstDiv{
        background-color: lightcoral;
    }

}
@media only screen and (min-width:1400px){
    body{
background-color:seagreen;
    }
    h2{
        color: darkgoldenrod;
    }
    img{
        border: 10px ridge black;
    }
    #firstDiv{
        background-color: aliceblue;
    }
}